.player-page-main{
background-color: #121212;
  height: 100vh;
  display: flex;

  .player-page-main-wrap {
    max-width: 100%;
    width: 100%;
    display: flex;
  }
}

.player-page-header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

main{
  height: 100vh;
  background-color: #121212;
  width: 100%;
  padding: 20px;
}
