.active{
  background-color: grey !important;
  color:white !important;
}


.sidebar {
  min-height: 100%;
  width: 284px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .items-container {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  a,
  button {
    width: 100%;
  }

  button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    text-align: left;
    background: none;
    border: 0;
    color: #b3b3b3;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s ease;
    border-radius: 5px;
    display: flex;
    align-items: center;

    &:hover {
      color: white;
    }


    .button-icon{
      width: 20px;
      margin-right: 16px;
    }
  }


}

.logo {
  margin: 24px;
  margin-bottom: 20px;

  svg {
    fill: white;
    width: 130px;
  }
}


